
.farm-container {
  background-image: url(grass.png);
  background-size: 100%;
  width: 100%;
  height: 100%;
}

.info-box {
  position: fixed;
  top: 0;
  right: 0;
  height: 160px;
  width: 245px;
  margin: 10px;
}

.time {
  position: absolute;
  top: 30px;
  right: 30px;
}

@keyframes spin {
  0% {rotate: 0deg;}
  100% {rotate: 360deg;}
}

.icon {
  margin-right: 30px;
  animation-name: spin;
  animation-duration: 20s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  
}

.pet-container {
  position: relative;
  display: inline-block;
  transition: top 100s, left 100s; /* Transition effect for smooth movement */
}

.details-popup {
  position: absolute;
  top: 0;
  left: 100%;
  width: 200px; /* Adjust the width as needed */
  padding: 10px;
  background-color: #f0f0f0;
  border: 10px ridge #004C99;

}

@keyframes petAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#pet {
  animation: petAnimation 2s linear infinite;
}

.pet-container.running {
  animation: petMove 100s linear infinite;
}

@keyframes petMove {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(50px, 50px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.clock {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.219);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-align: center;
  padding: 20px;
}

.time {
  font-weight: bold;
}

.pet-count {
  margin-top: 50px;
}
